div {
    width: 100px;
    height: 5px;
    outline: 1px solid #006699;
    position: relative;
    background: rgba(0,0,0,0.5);
}




.box2 {
    animation: example 4s linear infinite;
}

@keyframes example {
    0%,
    100% {
        margin-left: 0;
    }

    50% {
        margin-left: 600px;
    }
}